$bg-color: #fff;

$main-color: #11AC5F;
$dark-main-color: #128A4D;
$dark-title: #12472C;
$fade-color: #0F5D35;

$title-color: #232735;
$text-color: #747474;
$black-color: #1F1F1F;

$light-gray: #E5E5E5;

